<!DOCTYPE html><!--ドキュメントタイプ(html5を指定)-->
<html>
  <head>
    <%= stylesheet_link_tag "homes", :media => "all" %><!--cssを反映-->
    <meta name="google-site-verification" content="DuJjq-DLudm6JKx54HJPEW85tHbGxA-ek1r9Bl0j5Ok" /><!--googleにurl を教えるために必要らしい-->
  </head>
  <body>
    <div class="title">
      <h1>嶺自動車板金塗装</h1>
      <h2>板金・塗装 ~車の外見の修理~ はお任せ</h2>
    </div>

    事故過失割合でお困りの方ご相談ください！<br>
    自己負担学を無し,又は減らすことが可能です。<br>

    <!--
      後々描きたいの
      - 創業33年
    -->
    <br>
    <div class="information">
      <h2>問い合わせ</h2>
      <h3>電話番号</h3>
      　090-1513-3533
      <h3>住所</h3>
      　沖縄県中頭郡中城村字登又1068番地

      <!--以下の情報後々いれる可能性あり-->
        <!--ナビゲージョン-->
        <!--地図?-->
    </div>
  </body>
</html>
