<!DOCTYPE html><!--ドキュメントタイプ(html5を指定)-->
<html>
  <head>
    <%= stylesheet_link_tag "homes", :media => "all" %><!--cssを反映-->
  </head>
  <body>
    <div class="title">
      <h1>嶺板金自動車</h1>
      <h2>板金・塗装 ~車の外見の修理~ はお任せ</h2>
    </div>

    <br>
    <div class="information">
      <h2>問い合わせ</h2>
      <h3>電話番号</h3>
      　090-1513-3533
      <h3>住所</h3>
      　沖縄県中頭郡中城村字登又1068番地

      <!--以下の情報後々いれる可能性あり-->
        <!--ナビゲージョン-->
        <!--地図?-->
    </div>
  </body>
</html>
