<!DOCTYPE html><!--ドキュメントタイプ(html5を指定)-->
<html>
  <head>
    <%= stylesheet_link_tag "homes", :media => "all" %><!--cssを反映-->
  </head>
  <body>
    <div class="title">
      <h1>嶺板金自動車</h1>
      <h2>板金・塗装 ~車の外見の修理~ はお任せ</h2>
    </div>
  </body>
</html>
