<!DOCTYPE html><!--ドキュメントタイプ(html5を指定)-->
<html>
  <head>
  </head>
  <body>
    <center>                    <!--非推奨タグ(後々,cssで記述する)-->
      <h1>嶺板金自動車</h1>
      <h2>板金・塗装 ~車の外見の修理~ はお任せ</h2>
    </center>
  </body>
</html>
